.hero-section {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space between the text and image */
  max-width: 60%;
  margin: 0 auto;
  text-align: left;
  background: "V";
 
}

.custom-shape-divider-bottom-1710071034 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1710071034 svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 136px;
}

.custom-shape-divider-bottom-1710071034 .shape-fill {
  fill: #3FB6F0;
}











@media (max-width: 768px) {
  .hero-section {
      flex-direction: column;
  }
}

.content {
  flex: 1; /* Allows the text content to fill the space */
  padding-top: 0;
  margin-top: 0;
}
.hero-button{
}

.hero-image {
  flex: 1; /* Allows the image to take up equal space */
  max-width: 50%; /* Limits the image width to half of the container */
  height: auto; /* Maintain aspect ratio */
}

.title {
  color: var(--font-color);
  margin-bottom: 0.25em;
  line-height: 1.15em;
}

.subtitle {
  color: var(--light-font);
  margin-bottom: 3em;
}



