.inventory-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* width: 250px; */
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
  }
  
  .card-image-container img {
    width: 100%;
    display: block;
  }
  
  .card-details {
    padding: 16px;
    background-color: #fff; /* Adjust the background color as needed */
  }
  
  .card-details h3 {
    color: #333; /* Set text color for the model name */
    margin: 0;
    margin-bottom: 16px;
    font-size: 1.2em; /* Adjust font size as needed */
  }
  
  .card-specs {
    font-size: 0.9em;
    color: #555; /* Adjust the text color as needed */
    margin-bottom: 16px;
  }
  
  .card-specs span {
    display: block; /* Makes each spec appear on a new line */
    margin-bottom: 4px;
  }
  
  .card-specs svg {
    color: #666; /* Adjust icon color as needed */
    margin-right: 8px;
  }
  
/* ... other styles ... */

.card-price {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 16px; /* Add margin if needed to separate from button */
    background-color: #f7f7f7; /* Light grey background */
    padding: 10px; /* Add padding for the price to stand out */
    text-align: center; /* Center the price text */
    border-top: 1px solid #ddd; /* Add a top border line similar to image */
  }
  
  .card-action button {
    width: calc(100% - 20px); /* Reduce width to allow for padding */
    padding: 12px;
    margin: 10px; /* Add margin to create space around the button */
    background-color: white; /* Change background to white */
    color: #007bff; /* Text color to blue */
    border: 2px solid #007bff; /* Blue border for the button */
    border-radius: 4px; /* Slightly round the corners of the button */
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase; /* Makes the button text uppercase */
    transition: background-color 0.2s, color 0.2s; /* Transition for a smooth color change */
  }
  
  .card-action button:hover {
    background-color: #007bff; /* Button turns blue on hover */
    color: white; /* Text turns white on hover */
  }
  