@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: var(--font-color);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --main: #3fb6f0;
  --font-color: #111111;
  --light-font: #64676a;
  --light-bg: #f6fcff;

}

h1,h2,h3,h4,h5,h6 {
  color: var(--font-color);
  font-family: 'Roboto', sans-serif;
}

.subheader{
  color: var(--light-font);
  width: 30%;
  margin:0 auto;
  font-size:1.1rem;
  margin-bottom: 3em;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;

}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.highlight{
  color: var(--main);

}

p {
  color: var(--light-font);
 
}

.section-content{
  padding: 4rem 0;
}


.App {
  text-align: center;
}










@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
