* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #3fb6f0;
  --font-color: #111111;
  --light-font: #64676a;
  --light-bg: #f6fcff;

}

h1,h2,h3,h4,h5,h6 {
  color: var(--font-color);
  margin-bottom: 1.6rem;
}

.highlight{
  color: var(--main);

}

p {
  color: var(--light-font);
 
}

section{
  background-color: rgb(206, 206, 206);
  max-width: 60%;
  margin: 0 auto;
  padding: 2rem;
  border-bottom: var(--main)0.3em solid;
}


.App {
  text-align: center;
}








@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
